:root {
  --space-top: 100px;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 60px 0 0;
  text-align: center;
  color: #2c3e50;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  width: min(50vw, 600px);
  margin: 0 auto;
  padding: 0;
}

ul li {
}

a {
  display: block;
  color: inherit;
  padding: 20px;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section p {
  display: none;
  font-size: 70px;
}
